streamlit
pandas
streamlit_lottie
requests
selenium
bs4
numpy
wordcloud
nltk
matplotlib
seaborn
datetime
pyresparser
pdfminer3
io
streamlit_tags
pymysql
PIL
pafy
plotly
warnings
spacy
gensim
os
sklearn
